@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --background: 165 9% 18%; */
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --light-primary: 164 10% 39%;

    --i-vertical-line-width: 0.40rem;
    --i-about-from: 160 29% 66%;
    --i-about-via: 163 74% 45%;
    --i-about-to: 160 29% 66%;
    --i-services-bg: 160 20% 60%;
    --i-services-icon: 163 74% 45%;
    --i-fun-facts-bg: 160 20% 26%;
    --i-fun-facts-icon: 163 74% 45%;
    --i-experience-from: 11 41% 79%;
    --i-experience-via: 14 84% 50%;
    --i-experience-to: 11 41% 79%;
    --i-experience-date: 163 74% 45%;
    --i-experience-bg: 14 19% 27%;
  }

  .dark {
    --background: 165 9% 18%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 142.1 70.6% 45.3%;
    --primary-foreground: 144.9 80.4% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --light-primary: 162 35% 82%;

    --i-about-from: 160 29% 66%;
    --i-about-via: 163 74% 45%;
    --i-about-to: 160 29% 66%;
    --i-services-bg: 160 20% 26%;
    --i-services-icon: 163 74% 45%;
    --i-fun-facts-bg: 160 20% 26%;
    --i-fun-facts-icon: 163 74% 45%;
    --i-experience-from: 11 41% 79%;
    --i-experience-via: 14 84% 50%;
    --i-experience-to: 11 41% 79%;
    --i-experience-date: 163 74% 45%;
    --i-experience-bg: 14 19% 27%;
  }
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}